<!doctype html>

<html>

    <head>

        <title>{{title}}</title>

        <style>

            .error {

                color: red;

            }

            nav ul li {

                list-style: none;

                display: inline-block;

                margin-right: 15px;

            }



            nav #user-account {

                float: right;

            }





        </style>

    </head>

<body>

    <nav>

        <ul id="user-account">

            <li><a href="/login">Login</a></li>

            <li><a href="/logout">Logout</a></li>

        </ul>

        <ul>

            <li><a href="/">Home</a></li>

            <li><a href="/blog">All Posts</a></li>

            <li><a href="/newpost">New Post</a></li>

        </ul>  

    </nav>



    {% with messages = get_flashed_messages(with_categories=True) %}

        <ul>

        {% for category,message in messages %}

            <li class="{{category}}">{{message}}</li>

        {% endfor %}

        </ul>

    {% endwith %}



    {% block content %}

    {% endblock %}

</body>

</html> 