{% extends "base.html" %}



{% block content %}

<h1>Login</h1>

<form action="/login" method="post">

    <table>

        <tr>

            <td><label for="username">Username</label></td>

            <td>

                <input name="username" type="text" value="">

            </td>

        </tr>

        <tr>

            <td><label for="password">Password</label></td>

            <td>

                <input name="password" type="password">

            </td>

        </tr>

    </table>

    <input type="submit" value="Submit">

</form>

<p>Don't have an account? <a href="/signup">Create One!</a></p>

{% endblock %}